<% if (success && success.length) { %>
  <div class="flash-toast flash-success" role="alert">
    <i class="fa-solid fa-circle-check"></i>
    <span><%= success %></span>
  </div>
<% } %>

<% if (error && error.length) { %>
  <div class="flash-toast flash-danger" role="alert">
    <i class="fa-solid fa-circle-xmark"></i>
    <span><%= error %></span>
  </div>
<% } %>

