<% layout('/layouts/boilerplate') -%>

<div class="custom-alert alert-danger d-flex align-items-center" role="alert">
  <div class="alert-icon">
    <i class="fa-solid fa-triangle-exclamation"></i>
  </div>
  <div class="alert-message">
    <%= message %>
  </div>
</div>
