<% layout('/layouts/boilerplate') -%>
<body>
    <h3>Create New Listing</h3>
    <form method="post" action="/listings/create">
        <label for="">Title: </label>
        <input type="text" name="listing[title]"><br><br>

        <label for="">Image: </label>
        <input type="text" name="listing[image][url]" placeholder="image url"><br><br>

        <label for="">Price: </label>
        <input type="number" name="listing[price]"><br><br>

        <label for="">Location: </label>
        <input type="text" name="listing[location]"><br><br>

        <label for="">Country: </label>
        <input type="text" name="listing[country]"><br><br>

        <label for="">Description: </label>
        <textarea name="listing[description]" id="" placeholder="Write here..." rows="3" cols="20"></textarea><br><br>

        <button>Add Listing</button>
    </form>
</body>